@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="BloodTypeEntity">View blood types</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="PatientEntity">View all patients</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="RecordEntity">View all records</a>
</div>
